<html>
  <head>
    <title>New message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="form-body">
      <h3 class="form-title">Add a message!</h3>
      <form action="/new" method="post" class="form">
        <label for="name">Author name*: </label>
        <input type="text" name="name" id="for" required />
        <label for="msg">Message*: </label>
        <textarea name="message" id="msg" required rows="5"></textarea>
        <button type="submit">Submit</button>
      </form>
      <% if (locals.errors) {%>
        <ul> <% errors.map(err=>{ %>
          <li style="color: red;"><%= err.msg %>.</li>
          <%});%>
        </ul>
      <%}%>
    </div>
  </body>
</html>
