<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="msgContainer">
      <div class="details">
        <div><strong>User</strong>: <%= msg.username%></div>
        <div><strong>Message</strong>: <%= msg.message%></div>
        <div><strong>Date</strong>: <%= msg.date%></div>
      </div>
      <div><a href="/" ><button class="backBtn">Back</button></a></div>
    </div>
  </body>
</html>
